.inputcomment input
{
	width: 100%;
    border: 0;
    border-bottom: 1px solid pink;
    background-color: rgba(130,33,255,0.0);
    outline: none;
}
.inputcomment
{
	width:100%;
}
.image-container
{
	width:100%;
	padding-bottom:60%;
	position:relative;
}
.image-container img
{
	width:100%;
	height:100%;
	position:absolute;
}
.well
{
	margin-top:2rem;
	border:1px solid rgba(0,0,0,0.12) ;
	border-radius:4px;
	padding:1rem;
	background-color:rgba(130,33,255,0.054);
}
#show
{
	margin-top:2rem;
}
.allimage
{
	width:100%;
	height:10rem;
}
.allcard{
	width:100%;
	height:19.3rem;
}
@media only screen and (max-width:600px) {
 .allcard{
	width:90%;
	 height:17rem;
}
}